header {
    background: rgb(124,156,228);
    background: linear-gradient(90deg, rgba(124,156,228,1) 0%, rgba(55,56,142,1) 50%, rgba(38,19,96,1) 100%);    
    color: white;
}

header h1 {
    margin-left: 300px;
    padding: 10px 0px 10px 0px;
}


#srchbtn {
    background-color: #6991e3;
}

.weather-card {
    background-color: #323d4f;
    color: white;
}
